body {
    font-family: Arial, sans-serif;
    background: url(/src/immagini/tree.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

    .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
    }

    /* css per il login h2 */
    .login-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    }

    /* campi imput dentro il container */
    .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    }

    /* bottone login  */
    .login-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 25px; /*dimensione tasto login*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Transizione del colore di sfondo */
}

    /* effetti bottone login */
    .login-container button:hover{
    background-color: #2980b9; /* Cambia il colore dello sfondo al passaggio del mouse */
    /* transform: scale(1.05); Ingrossa leggermente il pulsante al passaggio del mouse */
    }

    /* css per i loghi per l'accesso tramite twitter, google, etc */
    .login-container .alt-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    }

    /* css per il campo password dimenticata */
    .login-container .forgot-password {
        padding: 3%;
        margin-bottom: 3%;
    }

    .login-container .remember-me {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        white-space: nowrap; /*per farlo rimanere sulla stessa riga*/
        margin-left: 5px;
        margin-right: 250px;
    }

    /*css per la checkbox*/
    .login-container .remember-me input { /* Allinea verticalmente la checkbox */
    margin: 0; /* sto sovrascrivendo il margine, nel caso in cui l'avessi impostato precedentemente ed entrasse in    contrasto */
    vertical-align: middle;
    margin-top: 3px; /*allineo la checkbox*/
    }