.container-corsi {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 70px;
    max-width: 700px; /* Imposta la larghezza massima del container */
    margin: auto; /* Centra il container */
}


.container-corsi h4 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.container-corsi button {
    color: #fff;
    padding: 5px 10px; /* Dimensione ridotta del padding del pulsante */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    width: auto; /* Larghezza automatica per adattarsi al contenuto */
    transition: background-color 0.3s ease; /* Transizione del colore di sfondo */
}



/* lista dei corsi */
.container-corsi ul {
    padding-left: 0; /* Rimuove il padding predefinito */
    display: flex;
    text-align: start;
    flex-direction: column; /* Allinea gli elementi verticalmente */
}


/*  bottoni iscriviti */
.container-corsi .button-iscriviti {
    background-color: #2ecc71; /* Verde */
    margin-left: auto;
}

/* bottoni disiscriviti */
.container-corsi .button-disiscriviti {
    background-color: #e74c3c; /* Rosso */
    margin-left: auto;
}


.container-corsi .button-iscriviti:hover {
    background-color: #27ae60; /* Cambia il colore di sfondo al passaggio del mouse */
}

.container-corsi .button-disiscriviti:hover {
    background-color: #c0392b; /* Cambia il colore di sfondo al passaggio del mouse */
}

.container-corsi .button-admin {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px; /*dimensione tasto login*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.container-corsi .button-admin:hover{
    background-color: #2980b9;
}

/* Rimuovere la sottolineatura dai link */
.container-corsi a {
    text-decoration: none;
}

/* per sistemare il form dell'aggiunzione del corso */
.new-course-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}