.registration-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.registration-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.registration-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.registration-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Transizione del colore di sfondo */
}

.registration-container button:hover {
    background-color: #2980b9; /* Cambia il colore di sfondo al passaggio del mouse */
}


.return-to a:hover {
    text-decoration: none;

    /* da decidere, diversi da login */
    color: blue; /* Cambia il colore del testo al passaggio del mouse */
    background-color: #f0f0f0; /* Colore di sfondo al passaggio del mouse */
    border-radius: 15%;
}


