.container {
    text-align: center;
    padding-top: 3%;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column; /* Imposta il layout dei contenitori su colonna */
    align-items: center; /* Centra verticalmente i contenuti */
}

.container h2 {
    letter-spacing: 5px;
    font-size: 4vw;
    color: white;
    margin-top: 0; /* Rimuove il margine superiore del titolo */
}

.display-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%; /* per far espandere le card su tutta la larghezza */
    max-width: 1200px; /* larghezza massima per le card */
    margin-top: 20px; /* spazio tra il titolo e le card */
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}


.card h3 {
    color: #333;
    /* font-size: 30px; */
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px; /* Imposta l'altezza desiderata per l'immagine */
    border-radius: 8px;
    object-fit: cover; /* Adatta l'immagine mantenendo le proporzioni e coprendo completamente il contenitore */
    display: block; /* Assicura che l'immagine sia centralizzata all'interno del contenitore */
}

.card p {
    color: #666;
    font-size: 16px;
}
